.card {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}

.border-left-danger {
    border-left: .25rem solid #e74a3b !important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a !important;
}

.border-left-warning {
    border-left: .25rem solid #f6c23e !important;
}

.border-left-info {
    border-left: .25rem solid #0bd5d2 !important;
}